mixin trade(code)
    span.label.label-primary: a(href="#{dir}/#{code}")= trades[code]

mixin person(name, id)
    - var url = '/contact/' + name + ((id) ? '/' + id : '')
    if user && user.name == name
        span.label.label-default: a(href="#{dir}/#{url}")= name
    else
        span.label.label-info: a(href="#{dir}/#{url}")= name

mixin trade_form(type)
    .form-group
        label(for="#{type}") I'm
            case type
                when 'want'
                    |  seeking:
                when 'have'
                    |  offering:
        select.form-control.input-lg(name="#{type}")
            option(value="null" selected="selected") Choose One
            if path == '/'
                option(value="null") nothing but love
            - for (trade in trades)
                unless trade == 'any'
                    option(value="#{trade}")= trades[trade]

mixin items(none_message)
    if items && items.length > 0
        - for (i in items)
            - var item = items[i]
            p.lead
                +person(item.user, item._id)
                |  #{terms[item.type]}&nbsp;
                +trade(item.what)
                | .&nbsp;
                if user
                    small
                        - var url = '/contact/' + item.user + ((item._id) ? '/' + item._id : '')
                        unless user.name == name
                            a.btn.btn-info.btn-xs(href="#{url}") contact
                            | &nbsp;
                            if (!item.messages || item.messages == 0)
                                span.badge.none= item.messages || 0
                            else
                                span.badge= item.messages || 0
                            | &nbsp;
                        if user && user.roles[0] == "admin"
                            a.btn.btn-warning.btn-xs(href="#{dir}/email_reset/#{item._id}") reset email count
                            | &nbsp;
                            a.btn.btn-danger.btn-xs(href="#{dir}/delete/#{item._id}") delete
    else
        p.lead!= none_message

doctype 5
html
    head
        title TeaHarmony #1 Trusted Brewing Online Exchange Site
        meta(name="viewport" content="width=device-width, user-scalable=no")
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .container
            .navbar
                a(href="#{dir}/list")
                    h1.navbar-brand TeaHarmony
                .navbar-right.pull-right
                    p.navbar-text.hidden-xs
                        if user
                            | Welcome,&nbsp;
                            span.text-info: a(href="#{dir}/user")= user.name
                        else if path == '/'
                            | Already a member?

                    .btn-group
                        unless path == '/list'
                            a.btn.btn-info.navbar-btn(href="#{dir}/list") All

                        if user
                            unless path == '/matches'
                                a.btn.btn-primary.navbar-btn(href="#{dir}/matches") Your matches
                            a#logout.btn.btn-default.navbar-btn(href="#{dir}/logout") Log Out
                        else
                            unless path == '/'
                                a.btn.btn-default.navbar-btn(href="#{dir}/") Register
                            a#login.btn.btn-default.navbar-btn(href="#{dir}/login") Log In

            if messages
                - for (i in messages)
                - var message = messages[i]
                    if message.type
                        .alert(class="alert-#{message.type}")
                            p= message.content
                    else
                        .alert.alert-warning
                            p= message

            block content

            script(src="http://code.jquery.com/jquery-1.10.1.min.js")
            script(src='/javascripts/bootstrap.min.js')
            script(src='/javascripts/script.js')
